
header {
	/*background-color: #999;*/
	color:#fff;
	height: 150px;
}

nav {
	/*background-color: #000;*/
	color:#fff;
	height: 50px;
	line-height: 50px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #fff;
	margin-left: 20px;
}

section {
	/*background-color: #ddd;*/
	height: 240px;
}

section article {
	display: inline-block;
	margin-top: 30px;
	padding: 25px;
	vertical-align: middle;
	width: 25%;
}

/* Estilos a aplicar por jQuery */

.titulo {
	color: #fc0;
	font-size: 3em;
	line-height: 150px;
	text-align: center;
}

.art1 {
	color: #f00;
}

.art2 {
	color: #0f5;
}

.art3 {
	color: #05f;
}

.body {
	background-color: #aaa;
}

.seccion {
	color: #555;
}

.hider {
	background-color: #000;
}